.flex_container{
    display: flex;
    border: 1px solid chocolate;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    width: 80%;
    /* height: 70vh; */


}
.flex_item{
    background-color: bisque;
    border: 1px solid chocolate;
    color: chocolate;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    width: 80px;
}